RewriteEngine On

Options -Indexes

# Redireciona tudo para public/index.php, a menos que seja um arquivo ou diretório real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L]
